::root {
    --violet: hsl(257, 40%, 49%); /* body */
    --magenta: hsl(300, 69%, 71%); /* body */
}

/* body  open sans
headings poppins
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/